html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-popup-content {
    font-family: Arial, sans-serif;
}

.leaflet-popup-content h3 {
    margin: 0;
    font-size: 16px;
}

.leaflet-popup-content p {
    margin: 5px 0;
}

.leaflet-popup-content img {
    max-width: 100%;
    height: auto;
}